*{
  padding: 0px;
  margin: 0px; 
}
body{
  background-image: url(../img/fundo4.png);
  background-size: cover;
}
#all{
  background-image: linear-gradient(rgb(6, 9, 15),rgb(3, 18, 36));
  height: 100vh;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  color: rgb(0, 195, 255);
}
#texto{
  padding: 2%;
  width: 70%;
  text-align: justify;
  margin: auto;
}
h1{
  font-family: 'Engravers MT';
  color: rgb(0, 195, 255);
  margin-bottom: 10px;
  text-align: center;
}
img{
  margin: auto;
  display: block;
}
