*{
  padding: 0px;
  margin: 0px; 
}
body{
  background-image: url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#all{
  padding: 10px;
  background-color: rgb(18,29,19);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  position: absolute;
  transform: tanslate(17%);
}
h1{
  font-family: arial;
  color: rgb(91,102,92);
  margin-bottom: 10px;
}
#caixa{
  margin: auto;
  border: solid rgb(42,63,42);
  text-align: center;
}
img{
  margin: auto;
  display: block;
}
