*{
  padding: 0px;
  margin: 0px; 
}
body{
  background-image: url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#all{
  padding: 10px;
  background-color: rgb(15, 22, 37);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(0, 195, 255);
  position: absolute;
}
h1{
  font-family: arial;
  color: rgb(0, 195, 255);
  margin-bottom: 10px;
}
#caixa{
  margin: auto;
  border: solid rgb(42,63,42);
  text-align: center;
}
img{
  margin: auto;
  display: block;
}
